@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	user-select: none;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #091921;
}
h1 {
	color: #fff;
	font-weight: 500;
	margin-bottom: 10px;
}
.calculator {
	position: relative;
	display: grid;
}
.calculator .output {
	grid-column: span 4;
	padding: 10px;
	height: 100px;
	margin-bottom: 5px;
	text-align: right;
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: 18px;
	background-color: #fff;
}
.output .previous-operand {
	color: rgba(225, 225, 225, 0.75);
	font-size: 1.5rem;
}
.output .current-operand {
	color: #333;
	font-size: 2rem;
}
.calculator button {
	display: grid;
	width: 60px;
	height: 60px;
	color: #fff;
	background-color: #0c2835;
	place-items: center;
	border: 1px solid rgba(0, 0, 0, 1);
}
.calculator button:active {
	background-color: #74ff3b;
	color: #111;
}
.calculator button.clear {
	grid-column: span 2;
	width: 120px;
	background-color: #ff3077;
}
.calculator button.equals {
	grid-column: span 2;
	width: 120px;
	background-color: #03b1ff;
}
