* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  position: relative;
  width: 400px;
  height: 600px;
  background-image: url('./images/background.png');
  font-size: 80px;
  text-align: center;
}

.doodler {
  position: absolute;
  width: 87px;
  height: 85px;
  background-image: url('./images/doodler-guy.png');
}

.platform {
  position: absolute;
  width: 85px;
  height: 15px;
  background-image: url('./images/platform.png');
}